In [1]:
import pandas as pd

In [3]:
casesURL = "https://raw.githubusercontent.com/jgehrcke/covid-19-germany-gae/master/cases-rki-by-state.csv"
df=pd.read_csv(casesURL)
df.tail()

,time_iso8601,DE-BB,DE-BE,DE-BW,DE-BY,DE-HB,DE-HE,DE-HH,DE-MV,DE-NI,DE-NW,DE-RP,DE-SH,DE-SL,DE-SN,DE-ST,DE-TH,sum_cases
420,2021-04-26T17:00:00+0000,100336,165472,432201,582250,24639,256775,70918,38795,233028,720875,137049,57624,36428,257533,88496,113527,3315946
421,2021-04-27T17:00:00+0000,100857,166461,436391,586241,24797,258972,71245,39366,234679,725942,137882,57990,36706,259784,89380,114437,3341130
422,2021-04-28T17:00:00+0000,101477,167347,440498,590415,24991,260907,71619,39686,236341,731479,139081,58276,37004,261457,90069,115296,3365943
423,2021-04-29T17:00:00+0000,101965,168037,443919,593639,25149,262508,71869,39994,237854,736540,140024,58540,37281,262672,90644,116130,3386765
424,2021-04-30T17:00:00+0000,102347,168455,446322,595678,25243,263771,71870,40279,238630,740088,140459,58799,37473,263217,90989,116912,3400532